    $/bond:solvent/sheet[0]/line[0]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[0]/O $/atom:solvent/sheet[0]/line[0]/H1
    $/bond:solvent/sheet[0]/line[0]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[0]/O $/atom:solvent/sheet[0]/line[0]/H2
    $/bond:solvent/sheet[0]/line[1]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[1]/O $/atom:solvent/sheet[0]/line[1]/H1
    $/bond:solvent/sheet[0]/line[1]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[1]/O $/atom:solvent/sheet[0]/line[1]/H2
    $/bond:solvent/sheet[0]/line[2]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[2]/O $/atom:solvent/sheet[0]/line[2]/H1
    $/bond:solvent/sheet[0]/line[2]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[2]/O $/atom:solvent/sheet[0]/line[2]/H2
    $/bond:solvent/sheet[0]/line[3]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[3]/O $/atom:solvent/sheet[0]/line[3]/H1
    $/bond:solvent/sheet[0]/line[3]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[3]/O $/atom:solvent/sheet[0]/line[3]/H2
    $/bond:solvent/sheet[0]/line[4]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[4]/O $/atom:solvent/sheet[0]/line[4]/H1
    $/bond:solvent/sheet[0]/line[4]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[4]/O $/atom:solvent/sheet[0]/line[4]/H2
    $/bond:solvent/sheet[0]/line[5]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[5]/O $/atom:solvent/sheet[0]/line[5]/H1
    $/bond:solvent/sheet[0]/line[5]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[5]/O $/atom:solvent/sheet[0]/line[5]/H2
    $/bond:solvent/sheet[0]/line[6]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[6]/O $/atom:solvent/sheet[0]/line[6]/H1
    $/bond:solvent/sheet[0]/line[6]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[6]/O $/atom:solvent/sheet[0]/line[6]/H2
    $/bond:solvent/sheet[0]/line[7]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[7]/O $/atom:solvent/sheet[0]/line[7]/H1
    $/bond:solvent/sheet[0]/line[7]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[7]/O $/atom:solvent/sheet[0]/line[7]/H2
    $/bond:solvent/sheet[0]/line[8]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[8]/O $/atom:solvent/sheet[0]/line[8]/H1
    $/bond:solvent/sheet[0]/line[8]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[8]/O $/atom:solvent/sheet[0]/line[8]/H2
    $/bond:solvent/sheet[0]/line[9]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[9]/O $/atom:solvent/sheet[0]/line[9]/H1
    $/bond:solvent/sheet[0]/line[9]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[9]/O $/atom:solvent/sheet[0]/line[9]/H2
    $/bond:solvent/sheet[0]/line[10]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[10]/O $/atom:solvent/sheet[0]/line[10]/H1
    $/bond:solvent/sheet[0]/line[10]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[10]/O $/atom:solvent/sheet[0]/line[10]/H2
    $/bond:solvent/sheet[0]/line[11]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[11]/O $/atom:solvent/sheet[0]/line[11]/H1
    $/bond:solvent/sheet[0]/line[11]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[11]/O $/atom:solvent/sheet[0]/line[11]/H2
    $/bond:solvent/sheet[0]/line[12]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[12]/O $/atom:solvent/sheet[0]/line[12]/H1
    $/bond:solvent/sheet[0]/line[12]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[12]/O $/atom:solvent/sheet[0]/line[12]/H2
    $/bond:solvent/sheet[0]/line[13]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[13]/O $/atom:solvent/sheet[0]/line[13]/H1
    $/bond:solvent/sheet[0]/line[13]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[13]/O $/atom:solvent/sheet[0]/line[13]/H2
    $/bond:solvent/sheet[0]/line[14]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[14]/O $/atom:solvent/sheet[0]/line[14]/H1
    $/bond:solvent/sheet[0]/line[14]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[14]/O $/atom:solvent/sheet[0]/line[14]/H2
    $/bond:solvent/sheet[0]/line[15]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[15]/O $/atom:solvent/sheet[0]/line[15]/H1
    $/bond:solvent/sheet[0]/line[15]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[15]/O $/atom:solvent/sheet[0]/line[15]/H2
    $/bond:solvent/sheet[0]/line[16]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[16]/O $/atom:solvent/sheet[0]/line[16]/H1
    $/bond:solvent/sheet[0]/line[16]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[16]/O $/atom:solvent/sheet[0]/line[16]/H2
    $/bond:solvent/sheet[0]/line[17]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[17]/O $/atom:solvent/sheet[0]/line[17]/H1
    $/bond:solvent/sheet[0]/line[17]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[17]/O $/atom:solvent/sheet[0]/line[17]/H2
    $/bond:solvent/sheet[0]/line[18]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[18]/O $/atom:solvent/sheet[0]/line[18]/H1
    $/bond:solvent/sheet[0]/line[18]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[18]/O $/atom:solvent/sheet[0]/line[18]/H2
    $/bond:solvent/sheet[0]/line[19]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[19]/O $/atom:solvent/sheet[0]/line[19]/H1
    $/bond:solvent/sheet[0]/line[19]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[19]/O $/atom:solvent/sheet[0]/line[19]/H2
    $/bond:solvent/sheet[0]/line[20]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[20]/O $/atom:solvent/sheet[0]/line[20]/H1
    $/bond:solvent/sheet[0]/line[20]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[20]/O $/atom:solvent/sheet[0]/line[20]/H2
    $/bond:solvent/sheet[0]/line[21]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[21]/O $/atom:solvent/sheet[0]/line[21]/H1
    $/bond:solvent/sheet[0]/line[21]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[21]/O $/atom:solvent/sheet[0]/line[21]/H2
    $/bond:solvent/sheet[0]/line[22]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[22]/O $/atom:solvent/sheet[0]/line[22]/H1
    $/bond:solvent/sheet[0]/line[22]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[22]/O $/atom:solvent/sheet[0]/line[22]/H2
    $/bond:solvent/sheet[0]/line[23]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[23]/O $/atom:solvent/sheet[0]/line[23]/H1
    $/bond:solvent/sheet[0]/line[23]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[23]/O $/atom:solvent/sheet[0]/line[23]/H2
    $/bond:solvent/sheet[0]/line[24]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[24]/O $/atom:solvent/sheet[0]/line[24]/H1
    $/bond:solvent/sheet[0]/line[24]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[0]/line[24]/O $/atom:solvent/sheet[0]/line[24]/H2
    $/bond:solvent/sheet[1]/line[0]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[0]/O $/atom:solvent/sheet[1]/line[0]/H1
    $/bond:solvent/sheet[1]/line[0]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[0]/O $/atom:solvent/sheet[1]/line[0]/H2
    $/bond:solvent/sheet[1]/line[1]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[1]/O $/atom:solvent/sheet[1]/line[1]/H1
    $/bond:solvent/sheet[1]/line[1]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[1]/O $/atom:solvent/sheet[1]/line[1]/H2
    $/bond:solvent/sheet[1]/line[2]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[2]/O $/atom:solvent/sheet[1]/line[2]/H1
    $/bond:solvent/sheet[1]/line[2]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[2]/O $/atom:solvent/sheet[1]/line[2]/H2
    $/bond:solvent/sheet[1]/line[3]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[3]/O $/atom:solvent/sheet[1]/line[3]/H1
    $/bond:solvent/sheet[1]/line[3]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[3]/O $/atom:solvent/sheet[1]/line[3]/H2
    $/bond:solvent/sheet[1]/line[4]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[4]/O $/atom:solvent/sheet[1]/line[4]/H1
    $/bond:solvent/sheet[1]/line[4]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[4]/O $/atom:solvent/sheet[1]/line[4]/H2
    $/bond:solvent/sheet[1]/line[5]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[5]/O $/atom:solvent/sheet[1]/line[5]/H1
    $/bond:solvent/sheet[1]/line[5]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[5]/O $/atom:solvent/sheet[1]/line[5]/H2
    $/bond:solvent/sheet[1]/line[6]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[6]/O $/atom:solvent/sheet[1]/line[6]/H1
    $/bond:solvent/sheet[1]/line[6]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[6]/O $/atom:solvent/sheet[1]/line[6]/H2
    $/bond:solvent/sheet[1]/line[7]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[7]/O $/atom:solvent/sheet[1]/line[7]/H1
    $/bond:solvent/sheet[1]/line[7]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[7]/O $/atom:solvent/sheet[1]/line[7]/H2
    $/bond:solvent/sheet[1]/line[8]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[8]/O $/atom:solvent/sheet[1]/line[8]/H1
    $/bond:solvent/sheet[1]/line[8]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[8]/O $/atom:solvent/sheet[1]/line[8]/H2
    $/bond:solvent/sheet[1]/line[9]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[9]/O $/atom:solvent/sheet[1]/line[9]/H1
    $/bond:solvent/sheet[1]/line[9]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[9]/O $/atom:solvent/sheet[1]/line[9]/H2
    $/bond:solvent/sheet[1]/line[10]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[10]/O $/atom:solvent/sheet[1]/line[10]/H1
    $/bond:solvent/sheet[1]/line[10]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[10]/O $/atom:solvent/sheet[1]/line[10]/H2
    $/bond:solvent/sheet[1]/line[11]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[11]/O $/atom:solvent/sheet[1]/line[11]/H1
    $/bond:solvent/sheet[1]/line[11]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[11]/O $/atom:solvent/sheet[1]/line[11]/H2
    $/bond:solvent/sheet[1]/line[12]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[12]/O $/atom:solvent/sheet[1]/line[12]/H1
    $/bond:solvent/sheet[1]/line[12]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[12]/O $/atom:solvent/sheet[1]/line[12]/H2
    $/bond:solvent/sheet[1]/line[13]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[13]/O $/atom:solvent/sheet[1]/line[13]/H1
    $/bond:solvent/sheet[1]/line[13]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[13]/O $/atom:solvent/sheet[1]/line[13]/H2
    $/bond:solvent/sheet[1]/line[14]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[14]/O $/atom:solvent/sheet[1]/line[14]/H1
    $/bond:solvent/sheet[1]/line[14]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[14]/O $/atom:solvent/sheet[1]/line[14]/H2
    $/bond:solvent/sheet[1]/line[15]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[15]/O $/atom:solvent/sheet[1]/line[15]/H1
    $/bond:solvent/sheet[1]/line[15]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[15]/O $/atom:solvent/sheet[1]/line[15]/H2
    $/bond:solvent/sheet[1]/line[16]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[16]/O $/atom:solvent/sheet[1]/line[16]/H1
    $/bond:solvent/sheet[1]/line[16]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[16]/O $/atom:solvent/sheet[1]/line[16]/H2
    $/bond:solvent/sheet[1]/line[17]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[17]/O $/atom:solvent/sheet[1]/line[17]/H1
    $/bond:solvent/sheet[1]/line[17]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[17]/O $/atom:solvent/sheet[1]/line[17]/H2
    $/bond:solvent/sheet[1]/line[18]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[18]/O $/atom:solvent/sheet[1]/line[18]/H1
    $/bond:solvent/sheet[1]/line[18]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[18]/O $/atom:solvent/sheet[1]/line[18]/H2
    $/bond:solvent/sheet[1]/line[19]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[19]/O $/atom:solvent/sheet[1]/line[19]/H1
    $/bond:solvent/sheet[1]/line[19]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[19]/O $/atom:solvent/sheet[1]/line[19]/H2
    $/bond:solvent/sheet[1]/line[20]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[20]/O $/atom:solvent/sheet[1]/line[20]/H1
    $/bond:solvent/sheet[1]/line[20]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[20]/O $/atom:solvent/sheet[1]/line[20]/H2
    $/bond:solvent/sheet[1]/line[21]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[21]/O $/atom:solvent/sheet[1]/line[21]/H1
    $/bond:solvent/sheet[1]/line[21]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[21]/O $/atom:solvent/sheet[1]/line[21]/H2
    $/bond:solvent/sheet[1]/line[22]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[22]/O $/atom:solvent/sheet[1]/line[22]/H1
    $/bond:solvent/sheet[1]/line[22]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[22]/O $/atom:solvent/sheet[1]/line[22]/H2
    $/bond:solvent/sheet[1]/line[23]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[23]/O $/atom:solvent/sheet[1]/line[23]/H1
    $/bond:solvent/sheet[1]/line[23]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[23]/O $/atom:solvent/sheet[1]/line[23]/H2
    $/bond:solvent/sheet[1]/line[24]/OH1 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[24]/O $/atom:solvent/sheet[1]/line[24]/H1
    $/bond:solvent/sheet[1]/line[24]/OH2 @/bond:SPC/OH $/atom:solvent/sheet[1]/line[24]/O $/atom:solvent/sheet[1]/line[24]/H2
    $/bond:polymer/bb1  @/bond:Monomer/bb $/atom:polymer/monomers[0]/M  $/atom:polymer/monomers[1]/M
    $/bond:polymer/bb2  @/bond:Monomer/bb $/atom:polymer/monomers[1]/M  $/atom:polymer/monomers[2]/M
    $/bond:polymer/bb3  @/bond:Monomer/bb $/atom:polymer/monomers[2]/M  $/atom:polymer/monomers[3]/M
    $/bond:polymer/bb4  @/bond:Monomer/bb $/atom:polymer/monomers[3]/M  $/atom:polymer/monomers[4]/M
    $/bond:polymer/bb5  @/bond:Monomer/bb $/atom:polymer/monomers[4]/M  $/atom:polymer/monomers[5]/M
    $/bond:polymer/bb6  @/bond:Monomer/bb $/atom:polymer/monomers[5]/M  $/atom:polymer/monomers[6]/M
    $/bond:polymer/bb7  @/bond:Monomer/bb $/atom:polymer/monomers[6]/M  $/atom:polymer/monomers[7]/M
    $/bond:polymer/bb8  @/bond:Monomer/bb $/atom:polymer/monomers[7]/M  $/atom:polymer/monomers[8]/M
    $/bond:polymer/bb9  @/bond:Monomer/bb $/atom:polymer/monomers[8]/M  $/atom:polymer/monomers[9]/M
    $/bond:polymer/bb10 @/bond:Monomer/bb $/atom:polymer/monomers[9]/M  $/atom:polymer/monomers[10]/M
    $/bond:polymer/bb11 @/bond:Monomer/bb $/atom:polymer/monomers[10]/M $/atom:polymer/monomers[11]/M
    $/bond:polymer/bb12 @/bond:Monomer/bb $/atom:polymer/monomers[11]/M $/atom:polymer/monomers[12]/M
    $/bond:polymer/bb13 @/bond:Monomer/bb $/atom:polymer/monomers[12]/M $/atom:polymer/monomers[13]/M
    $/bond:polymer/bb14 @/bond:Monomer/bb $/atom:polymer/monomers[13]/M $/atom:polymer/monomers[14]/M
    $/bond:polymer/bb15 @/bond:Monomer/bb $/atom:polymer/monomers[14]/M $/atom:polymer/monomers[15]/M
    $/bond:polymer/bb16 @/bond:Monomer/bb $/atom:polymer/monomers[15]/M $/atom:polymer/monomers[16]/M
    $/bond:polymer/bb17 @/bond:Monomer/bb $/atom:polymer/monomers[16]/M $/atom:polymer/monomers[17]/M
    $/bond:polymer/bb18 @/bond:Monomer/bb $/atom:polymer/monomers[17]/M $/atom:polymer/monomers[18]/M
    $/bond:polymer/bb19 @/bond:Monomer/bb $/atom:polymer/monomers[18]/M $/atom:polymer/monomers[19]/M
    $/bond:polymer/bb20 @/bond:Monomer/bb $/atom:polymer/monomers[19]/M $/atom:polymer/monomers[20]/M
    $/bond:polymer/bb21 @/bond:Monomer/bb $/atom:polymer/monomers[20]/M $/atom:polymer/monomers[21]/M
    $/bond:polymer/bb22 @/bond:Monomer/bb $/atom:polymer/monomers[21]/M $/atom:polymer/monomers[22]/M
    $/bond:polymer/bb23 @/bond:Monomer/bb $/atom:polymer/monomers[22]/M $/atom:polymer/monomers[23]/M
    $/bond:polymer/bb24 @/bond:Monomer/bb $/atom:polymer/monomers[23]/M $/atom:polymer/monomers[24]/M
